.app {
  width: 100%;
  height: 100%;
  position: relative;
}

.loading,
.error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 18px;
  color: #333;
}

.error {
  color: #d32f2f;
}
